* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  background-color: #bdbab9;
}

.name {
  margin-bottom: 1em;
  display: inline-block;
}

.footer {
   position: fixed;
   bottom: 1em;
   width: 100%;
   font-size: 5px;
}

.footer > input {
  width: 85%;
  margin: 20px;
  height: 35px;
  font-size: large;
  padding: 5px;
}

.footer > button {
  width: 8%;
  height: 35px;
}

.msg {
  /* border: 1px solid; */
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

.announce {
  background-color: #732005;
  text-align: center;
}

.sent {
  background-color: #024d20;
}

.received {
  background-color: #225f8a;
}

.sender {
  color: #37cc5e;
}
